@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Noto+Serif&family=Open+Sans&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&family=Roboto&display=swap");
@import url(./navigation.css);
:root {
  --marginB: 18px;
  --label-fontF: "";
  --social-text-FF: 'Open Sans', sans-serif;
  --small-text-FF: "Open Sans", sans-serif
  --regular-text-FF: "Roboto", sans-serif
}

/* font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--social-text-FF);
}
main {
  /* height: 100vh; */
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main form {
  margin-top: 20px;
  width: 350px;
  padding: 50px;
  border: 2px solid;
  border-radius: 20px;
  border-color: grey;
  box-shadow: 0 0 10px rgb(70, 69, 69);
}
legend {
  margin-bottom: 25px;
  padding: 2px 0;
  border-bottom: 1px solid;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 12px;
  width: 250px;
  text-transform: uppercase;
}

input {
    outline: none;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    padding: 4px 10px;
    height: 36px;
    border-radius: 8px;
    border-width: 1px;
    width: 250px;
    margin-bottom: var(--marginB);
}

input[type="submit"] {
  width: fit-content;
  padding: 8px 20px;
  border: none;
  height: unset;
  border-radius: 5px;
  display: block;
  color: white;
  cursor: pointer;
  pointer-events: all;
  background: rgb(233, 38, 38);
}

.btn-submit {
  width: 250px;
  border: none;
  display: flex;
  align-items:center;
  justify-content:center;
  
}

.btn-submit:hover {
    opacity: 0.7;
}